/* imports */


/* main elements */
*   {
    text-decoration: none;
}

/* id elements */

#duhhbzz-icon   {
    height: 45px;
    width: 45px;
}

#apps-icon  {
    height: 20px;
    width: 20px;
}

/* class elements */

.nav-link   {
    color: #000;
}

.nav-item   {
    list-style: none;
}

.footer-item    {
    list-style: none;
}