@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

body    {
    font-family: 'Roboto', sans-serif;
}

.page-body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-container {
    min-width: none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a:link, a:visited   {
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

/*  --------nav bar------------------ */

.nav    {
    width: 100%;
    margin: 0 auto;
}

.nav-link-left  {
    float: left;
    padding: 8px;
    color: #000;
    font-weight: 300;
}

.nav-link-right {
    float: right;
    padding: 8px;
    color: #000;
    font-weight: 300;
}

.icon-app   {
    height: 20px;
    width: 20px;
    position: relative;
}

.icon-profile   {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
}

/*  -------- main elements -------------- */

.main-container {
    text-align: center;
    margin-top: 2%;
    flex: 1;
}

.main-logo  {
    padding: 50px;
}

.main-search    {
    position: relative;
}

.main-form  {
    max-width: 584px;
    text-align: center;
    align-items: center;
    margin: auto;
}

.form-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 1px solid #dfe1e5;
    border-radius: 30px;
    padding: 5px 8px 0px 16px;
}

.form-container:hover   {
    box-shadow: 0px 1px 6px 0px rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.search-input   {
    height: 100%;
    flex: 1;
}

.search-input input {
    border: none;
    width: 100%;
    height: 40px;
    margin-top: -1px;
    padding-bottom: 3px;
}

.search-input input:focus   {
    outline: none;
}

.search-voice   {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
    margin-right: 5px;
}

/* --- icons sizes nested in search --- */

.search-icon    {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
    margin-right: 5px;
}

.search-icon svg    {
    height: 30px;
    width: 30px;
}

.search-voice svg   {
    height: 30px;
    width: 30px;
}

/* --- submit & feeling lucky --- */

.main-submit    {
    margin-top: 35px;
}

.main-submit button {
    background-color: #fff;
    border: 1px solid #fff;
    padding: 0 16px;
    line-height: 30px;
    height: 40px;
    min-width: 55px;
    text-align: center;
    cursor: pointer;
}

.main-submit button:hover   {
    box-shadow: 0px 1px 6px 0px rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
    border-radius: 5px;
}

/* ----- footer ----- */

.footer     {
    background-color: #f2f2f2;
    width: 100%;
}

.footer-link-left  {
    float: left;
    padding: 8px;
    color: #000;
    font-weight: 300;
    padding-left: 1%;
}

.footer-link-right {
    float: right;
    padding: 8px;
    color: #000;
    font-weight: 300;
    padding-right: 1%;
}

